.container {
    
    display: grid;
    grid-template: 30% 1fr 1fr / 50% 50%
    
}

.item {
    grid-column: ;


}

.container > div {
    border-style: solid;
    border-color: white;
    border-width: 1px;
    background-color: red;

}